/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: login
:: panel
:: profile
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.main {
	margin-top: 65px;
}

.errors {
	font-size: 11px;
	color:red;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


